USE [SeedCenter]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[email] [nvarchar](100) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[avatar_url] [nvarchar](1000) NULL,
	[phone] [nvarchar](10) NULL,
	[address] [nvarchar](200) NULL,
	[gender] [bit] NULL,
	[role_id] [int] NOT NULL,
	[active_status] [bit] NOT NULL,
	[date_of_birth] [date] NULL,
	[description] [nvarchar](500) NULL,
	[created_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Member]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Member](
	[student_email] [nvarchar](100) NOT NULL,
	[class_id] [int] NOT NULL,
	[enrollment_date] [date] NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_email] ASC,
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NULL,
	[class_name] [nvarchar](50) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[number_of_student] [int] NOT NULL,
	[number_of_slots] [int] NOT NULL,
	[staff_email] [nvarchar](100) NOT NULL,
	[teacher_email] [nvarchar](100) NOT NULL,
	[room] [nvarchar](50) NOT NULL,
	[days_of_week] [nvarchar](50) NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[request_date] [date] NULL,
	[response_date] [date] NULL,
	[status] [bit] NULL,
	[request_message] [nvarchar](500) NOT NULL,
	[response_message] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_avatar_url] [nvarchar](1000) NULL,
	[course_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](500) NULL,
	[price] [float] NOT NULL,
	[status] [bit] NOT NULL,
	[created_at] [date] NOT NULL,
	[number_of_slots] [int] NULL,
	[code] [varchar](100) NOT NULL,
	[level] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[star] [int] NOT NULL,
	[message] [nvarchar](500) NULL,
	[course_id] [int] NOT NULL,
	[class_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADES]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADES](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[student_email] [nvarchar](100) NOT NULL,
	[class_id] [int] NOT NULL,
	[grade_name] [nvarchar](50) NOT NULL,
	[listening] [decimal](3, 1) NULL,
	[reading] [decimal](3, 1) NULL,
	[writing] [decimal](3, 1) NULL,
	[speaking] [decimal](3, 1) NULL,
	[overall] [decimal](3, 1) NULL,
	[created_at] [date] NOT NULL,
	[updated_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_method] [nvarchar](50) NOT NULL,
	[class_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[student_email] [nvarchar](100) NOT NULL,
	[amount] [decimal](18, 0) NOT NULL,
	[payment_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration_Form]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration_Form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_email] [nvarchar](100) NOT NULL,
	[class_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[status] [int] NOT NULL,
	[response] [nvarchar](500) NULL,
	[created_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support](
	[support_id] [int] IDENTITY(1,1) NOT NULL,
	[support_name] [nvarchar](200) NOT NULL,
	[message] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[support_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 12/10/2024 10:18:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Course](
	[course_id] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[enrolled_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [gender], [role_id], [active_status], [date_of_birth], [description], [created_date]) VALUES (N'admin', N'admin', N'admin', NULL, NULL, NULL, NULL, 1, 1, NULL, NULL, CAST(N'2024-10-10' AS Date))
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [gender], [role_id], [active_status], [date_of_birth], [description], [created_date]) VALUES (N'ban@gmail.com', N'Nguyễn Văn Ban', N'abc1234!', NULL, N'0965433211', N'Hưng Yên', 0, 4, 1, CAST(N'2003-12-14' AS Date), NULL, CAST(N'2024-11-27' AS Date))
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [gender], [role_id], [active_status], [date_of_birth], [description], [created_date]) VALUES (N'bao@gmail.com', N'Bùi Gia Bảo', N'abc1234!', NULL, N'0987168198', N'Nghĩa Ô, Hà Nội', 0, 4, 1, CAST(N'2008-10-10' AS Date), NULL, CAST(N'2024-06-10' AS Date))
GO
INSERT [dbo].[Class_Member] ([student_email], [class_id], [enrollment_date], [status]) VALUES (N'ban@gmail.com', 29, CAST(N'2024-11-27' AS Date), 1)
INSERT [dbo].[Class_Member] ([student_email], [class_id], [enrollment_date], [status]) VALUES (N'bao@gmail.com', 2, CAST(N'2024-11-16' AS Date), 1)
INSERT [dbo].[Class_Member] ([student_email], [class_id], [enrollment_date], [status]) VALUES (N'chi@gmail.com', 29, CAST(N'2024-11-27' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([class_id], [course_id], [class_name], [start_date], [end_date], [number_of_student], [number_of_slots], [staff_email], [teacher_email], [room], [days_of_week], [start_time], [end_time], [status]) VALUES (1, 35, N'Lớp học IELTS cơ bản', CAST(N'2024-11-09' AS Date), CAST(N'2024-11-09' AS Date), 11, 24, N'staff@gmail.com', N'teacher@gmail.com', N'P202', N'T2, T4', CAST(N'02:30:00' AS Time), CAST(N'02:30:00' AS Time), 0)
INSERT [dbo].[Classes] ([class_id], [course_id], [class_name], [start_date], [end_date], [number_of_student], [number_of_slots], [staff_email], [teacher_email], [room], [days_of_week], [start_time], [end_time], [status]) VALUES (2, 31, N'Lớp học IELTS nâng cao', CAST(N'2024-11-09' AS Date), CAST(N'2024-11-09' AS Date), 24, 20, N'staff@gmail.com', N'teacher@gmail.com', N'P203', N'T5, T6', CAST(N'09:30:00' AS Time), CAST(N'11:30:00' AS Time), 0)
INSERT [dbo].[Classes] ([class_id], [course_id], [class_name], [start_date], [end_date], [number_of_student], [number_of_slots], [staff_email], [teacher_email], [room], [days_of_week], [start_time], [end_time], [status]) VALUES (16, 35, N'Lớp học IELTS cần thiết', CAST(N'2024-11-09' AS Date), CAST(N'2025-01-01' AS Date), 18, 24, N'staff@gmail.com', N'nguyenthanhlam@gmail.com', N'P204', N'T3, T5', CAST(N'01:00:00' AS Time), CAST(N'03:00:00' AS Time), 1)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([contact_id], [email], [name], [request_date], [response_date], [status], [request_message], [response_message]) VALUES (3, N'john@gmail.com', N'John', CAST(N'2024-10-29' AS Date), NULL, NULL, N'Tôi là John, và tôi gặp khó khăn trong việc đăng nhập vào tài khoản của mình. Tôi đã thử reset mật khẩu nhưng vẫn không thể đăng nhập được. Rất mong được sự trợ giúp từ các bạn để tôi có thể truy cập vào tài khoản của mình một lần nữa.', NULL)
INSERT [dbo].[Contact] ([contact_id], [email], [name], [request_date], [response_date], [status], [request_message], [response_message]) VALUES (4, N'le2@gmail.com', N'Lê Quốc Toản', NULL, CAST(N'2024-11-15' AS Date), 1, N'Tôi muốn biết thêm về khóa học IELTS Hè cấp tốc', N'Luyện thi IELTS cấp tốc trong thời gian ngắn, đảm bảo nắm vững kiến thức, tăng trình độ nhanh chóng chỉ sau 36 giờ học. Cánh cửa du học rộng mở, điểm IELTS càng cao thì cơ hội săn học bổng toàn phần càng lớn. Cơ hội bước vào các trường THPT chuyên dễ dàng hơn. Cơ hội được xét tuyển riêng vào các trường Đại học lớn.')
INSERT [dbo].[Contact] ([contact_id], [email], [name], [request_date], [response_date], [status], [request_message], [response_message]) VALUES (5, N'student@gmail.com', N'Lê Bảo Bảo', NULL, CAST(N'2024-11-15' AS Date), 1, N'Tôi thắc mắc về các quy tắc trong lớp học của trung tâm mình', N'Bạn có thể đọc thêm ở trang Hỗ trợ nhé!')
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([course_id], [course_avatar_url], [course_name], [description], [price], [status], [created_at], [number_of_slots], [code], [level]) VALUES (31, N'https://ktdcgroup.vn/wp-content/uploads/2023/04/WEB_THUMNAIL-POST-Thi%E1%BA%BFt-k%E1%BA%BF-KV-kh%C3%B3a-IELTS-h%C3%A8_Update19042023.jpg', N'Khóa IELTS Hè Cấp Tốc', N'Mô tả khóa IELTS Hè Cấp Tốc', 3500000, 0, CAST(N'2023-05-26' AS Date), 20, N'IFD', N'Trung bình')
INSERT [dbo].[Course] ([course_id], [course_avatar_url], [course_name], [description], [price], [status], [created_at], [number_of_slots], [code], [level]) VALUES (35, N'https://taec.edu.vn/wp-content/uploads/2023/08/1-II-0-5.0-01.jpg', N'Khoá Học IELTS Introduction', N'Mô tả khóa học IELTS Introduction', 2000000, 1, CAST(N'2023-05-26' AS Date), 24, N'ISD', N'Mới bắt đầu')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedback_id], [email], [star], [message], [course_id], [class_id]) VALUES (1, N'student@gmail.com', 5, N'Nội dung bài học phong phú, được cô chữa bài rất kỹ', 35, 1)
INSERT [dbo].[Feedback] ([feedback_id], [email], [star], [message], [course_id], [class_id]) VALUES (2, N'tram@gmail.com', 5, N'Cô là giảng viên chữa writing rất nhiệt tình', 35, 1)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[GRADES] ON 

INSERT [dbo].[GRADES] ([grade_id], [student_email], [class_id], [grade_name], [listening], [reading], [writing], [speaking], [overall], [created_at], [updated_at]) VALUES (1, N'student@gmail.com', 1, N'Điểm cuối khóa', CAST(9.0 AS Decimal(3, 1)), CAST(7.0 AS Decimal(3, 1)), CAST(5.0 AS Decimal(3, 1)), CAST(5.0 AS Decimal(3, 1)), CAST(6.5 AS Decimal(3, 1)), CAST(N'2024-11-14' AS Date), CAST(N'2024-11-23' AS Date))
INSERT [dbo].[GRADES] ([grade_id], [student_email], [class_id], [grade_name], [listening], [reading], [writing], [speaking], [overall], [created_at], [updated_at]) VALUES (2, N'tram@gmail.com', 1, N'Điểm cuối khóa', CAST(6.5 AS Decimal(3, 1)), CAST(7.5 AS Decimal(3, 1)), CAST(6.0 AS Decimal(3, 1)), CAST(6.0 AS Decimal(3, 1)), CAST(6.5 AS Decimal(3, 1)), CAST(N'2024-11-23' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[GRADES] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [payment_method], [class_id], [course_id], [student_email], [amount], [payment_date]) VALUES (1, N'Chuyển khoản', 16, 36, N'student@gmail.com', CAST(3000000 AS Decimal(18, 0)), CAST(N'2024-11-12' AS Date))
INSERT [dbo].[Payment] ([payment_id], [payment_method], [class_id], [course_id], [student_email], [amount], [payment_date]) VALUES (4, N'Chuyển khoản', 1, 35, N'student@gmail.com', CAST(2000000 AS Decimal(18, 0)), CAST(N'2024-11-12' AS Date))
INSERT [dbo].[Payment] ([payment_id], [payment_method], [class_id], [course_id], [student_email], [amount], [payment_date]) VALUES (5, N'Tiền mặt', 18, 35, N'student@gmail.com', CAST(2000000 AS Decimal(18, 0)), CAST(N'2024-11-16' AS Date))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration_Form] ON 

INSERT [dbo].[Registration_Form] ([id], [student_email], [class_id], [course_id], [status], [response], [created_date]) VALUES (8, N'student@gmail.com', 17, 35, 1, N'', CAST(N'2024-11-12' AS Date))
INSERT [dbo].[Registration_Form] ([id], [student_email], [class_id], [course_id], [status], [response], [created_date]) VALUES (12, N'student@gmail.com', 16, 35, 4, NULL, CAST(N'2024-11-12' AS Date))
INSERT [dbo].[Registration_Form] ([id], [student_email], [class_id], [course_id], [status], [response], [created_date]) VALUES (13, N'student@gmail.com', 17, 35, 2, NULL, CAST(N'2024-11-12' AS Date))
SET IDENTITY_INSERT [dbo].[Registration_Form] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'staff')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'teacher')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Support] ON 

SET IDENTITY_INSERT [dbo].[Support] OFF
GO
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (31, N'bao@gmail.com', CAST(N'2024-11-16' AS Date))
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (31, N'tram@gmail.com', CAST(N'2024-11-16' AS Date))
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (35, N'student@gmail.com', CAST(N'2024-10-29' AS Date))
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [active_status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Class_Member]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Class_Member]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Classes]  WITH NOCHECK ADD FOREIGN KEY([staff_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Classes]  WITH NOCHECK ADD FOREIGN KEY([teacher_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Course]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Registration_Form]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Registration_Form]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Registration_Form]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
