USE [Jlearning]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[email] [nvarchar](100) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[avatar_url] [nvarchar](max) NULL,
	[phone] [nvarchar](10) NULL,
	[address] [nvarchar](200) NULL,
	[year_of_birth] [int] NULL,
	[gender] [bit] NULL,
	[role_id] [int] NOT NULL,
	[active_status] [bit] NOT NULL,
	[date_of_birth] [date] NULL,
	[description] [nvarchar](max) NULL,
	[created_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog](
	[blog_avatar_url] [nvarchar](max) NULL,
	[blog_id] [int] IDENTITY(1,1) NOT NULL,
	[blog_category_id] [int] NULL,
	[created_date] [date] NOT NULL,
	[blog_name] [nvarchar](100) NULL,
	[blog_description] [nvarchar](500) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog_Category]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Category](
	[blog_category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Blog_Details]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blog_Details](
	[blog_details_id] [int] IDENTITY(1,1) NOT NULL,
	[header] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[blog_img_url] [nvarchar](max) NULL,
	[blog_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[blog_details_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Calendar]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Calendar](
	[calendar_id] [int] IDENTITY(1,1) NOT NULL,
	[class_id] [int] NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[day_of_weeks] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[calendar_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Chapter]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Chapter](
	[chapter_id] [int] IDENTITY(1,1) NOT NULL,
	[chapter_name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[course_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[chapter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class_Member]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class_Member](
	[student_email] [nvarchar](100) NOT NULL,
	[class_id] [int] NOT NULL,
	[enrollment_date] [date] NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[student_email] ASC,
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[class_id] [int] IDENTITY(1,1) NOT NULL,
	[course_id] [int] NULL,
	[class_name] [nvarchar](200) NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[number_of_student] [int] NOT NULL,
	[number_of_slots] [int] NOT NULL,
	[staff_email] [nvarchar](100) NULL,
	[teacher_email] [nvarchar](100) NULL,
	[room] [nvarchar](100) NULL,
	[days_of_week] [nvarchar](200) NULL,
	[start_time] [time](7) NULL,
	[end_time] [time](7) NULL,
	[class_code] [varchar](50) NULL,
	[status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NULL,
	[name] [nvarchar](200) NULL,
	[request_date] [date] NULL,
	[response_date] [date] NULL,
	[status] [bit] NULL,
	[request_message] [nvarchar](max) NULL,
	[response_message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Course]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course](
	[course_id] [int] IDENTITY(1,1) NOT NULL,
	[course_avatar_url] [nvarchar](max) NULL,
	[course_name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[duration] [int] NULL,
	[price] [float] NULL,
	[status] [bit] NULL,
	[created_at] [date] NULL,
	[number_of_slots] [int] NULL,
	[code] [varchar](100) NULL,
	[level] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NULL,
	[email] [nvarchar](100) NULL,
	[star] [int] NULL,
	[course_name] [nvarchar](500) NULL,
	[message] [nvarchar](500) NULL,
	[course_id] [int] NULL,
	[user_avatar_url] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GRADES]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRADES](
	[grade_id] [int] IDENTITY(1,1) NOT NULL,
	[student_email] [nvarchar](100) NULL,
	[class_id] [int] NULL,
	[grade_name] [nvarchar](50) NULL,
	[listening] [decimal](3, 1) NULL,
	[reading] [decimal](3, 1) NULL,
	[writing] [decimal](3, 1) NULL,
	[speaking] [decimal](3, 1) NULL,
	[overall] [decimal](3, 1) NULL,
	[created_at] [date] NULL,
	[updated_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[grade_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson](
	[lesson_id] [int] IDENTITY(1,1) NOT NULL,
	[lesson_name] [nvarchar](200) NULL,
	[description] [nvarchar](500) NULL,
	[video_url] [nvarchar](max) NULL,
	[material_url] [nvarchar](max) NULL,
	[chapter_id] [int] NULL,
	[duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lesson_Done]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lesson_Done](
	[lesson_id] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[course_id] [int] NOT NULL,
 CONSTRAINT [PK_Lesson_Done] PRIMARY KEY CLUSTERED 
(
	[lesson_id] ASC,
	[email] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[payment_method] [nvarchar](100) NOT NULL,
	[class_id] [int] NULL,
	[course_id] [int] NULL,
	[student_email] [nvarchar](100) NULL,
	[amount] [decimal](18, 0) NOT NULL,
	[payment_date] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[question_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](200) NULL,
	[answer_1] [nvarchar](200) NULL,
	[answer_2] [nvarchar](200) NULL,
	[answer_3] [nvarchar](200) NULL,
	[answer_4] [nvarchar](200) NULL,
	[correct_answer] [int] NULL,
	[test_id] [int] NULL,
	[explaination] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[question_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration_Form]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration_Form](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[student_email] [nvarchar](100) NOT NULL,
	[class_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
	[status] [int] NULL,
	[response] [nvarchar](500) NULL,
	[created_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[role_id] [int] IDENTITY(1,1) NOT NULL,
	[role_name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[student_email] [nvarchar](100) NOT NULL,
	[class_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[student_email] ASC,
	[class_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Support]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Support](
	[support_id] [int] IDENTITY(1,1) NOT NULL,
	[support_name] [nvarchar](200) NULL,
	[message] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[support_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[test_id] [int] IDENTITY(1,1) NOT NULL,
	[test_name] [nvarchar](200) NULL,
	[chapter_id] [int] NULL,
	[course_id] [int] NULL,
	[description] [nvarchar](300) NULL,
	[duration] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[test_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Done]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test_Done](
	[email] [nvarchar](100) NOT NULL,
	[test_id] [int] NOT NULL,
	[course_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[email] ASC,
	[test_id] ASC,
	[course_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User_Course]    Script Date: 11/13/2024 1:27:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_Course](
	[course_id] [int] NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[enrolled_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[course_id] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [year_of_birth], [gender], [role_id], [active_status], [date_of_birth], [description], [created_date]) VALUES (N'admin', N'admin', N'admin', NULL, NULL, NULL, NULL, NULL, 1, 1, NULL, NULL, NULL)
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [year_of_birth], [gender], [role_id], [active_status], [date_of_birth], [description], [created_date]) VALUES (N'lengocbao@gmail.com', N'Lê Ngọc Bảo', N'Abc1234!', N'https://wallpapercave.com/wp/wp7172074.jpg', N'0385984070', N'Hà Nội', NULL, 0, 2, 1, CAST(N'2001-06-10' AS Date), N'', NULL)
INSERT [dbo].[Account] ([email], [name], [password], [avatar_url], [phone], [address], [year_of_birth], [gender], [role_id], [active_status], [date_of_birth], [description], [created_date]) VALUES (N'nguyenthanhlam@gmail.com', N'Nguyễn Thành Lâm', N'Abc1234!', N'https://img.freepik.com/premium-photo/avatar-anime-boy-with-fire-background-front-profile-face-child-with-flames_967743-602.jpg', N'0385981077', N'Hà Nội', NULL, 1, 3, 1, CAST(N'2001-07-18' AS Date), N'Thầy luôn nỗ lực mang đến cho học viên kiến thức cần thiết qua các bài giảng dễ hiểu và thực tế.', NULL)
GO
SET IDENTITY_INSERT [dbo].[Blog] ON 

INSERT [dbo].[Blog] ([blog_avatar_url], [blog_id], [blog_category_id], [created_date], [blog_name], [blog_description], [status]) VALUES (N'https://firebasestorage.googleapis.com/v0/b/flearning-131be.appspot.com/o/blog%2Fimages%2Fblog-details-3.png?alt=media&token=2cd378f1-bafd-409f-90bf-5a666ba70ee7', 12, 3, CAST(N'2023-05-17' AS Date), N'Tiếng Nhật có bao nhiêu loại chữ?', N'Là bảng chữ Latinh như tiếng Anh hay tiếng Việt không dấu mà chúng ta sử dụng nên không cần học viết loại này mà chỉ cần quan tâm cách đọc kiểu Nhật. Người ta gọi chữ Latinh này là ローマ字 (Ro-maji).', 1)
INSERT [dbo].[Blog] ([blog_avatar_url], [blog_id], [blog_category_id], [created_date], [blog_name], [blog_description], [status]) VALUES (N'https://firebasestorage.googleapis.com/v0/b/flearning-131be.appspot.com/o/blog%2Fimages%2Fblog-5.png?alt=media&token=365acb7f-67ac-409b-a4aa-3347cd0ecf4b', 13, 1, CAST(N'0001-01-01' AS Date), N'Đi du lịch Nhật Bản bạn cần biết những văn hóa này', N'Ai cũng biết Nhật Bản là một quốc gia văn minh với nền kinh tế cực kỳ phát triển. Cũng chính vì vậy mà văn hóa Nhật Bản cũng có nhiều đặc biệt.', 1)
SET IDENTITY_INSERT [dbo].[Blog] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog_Category] ON 

INSERT [dbo].[Blog_Category] ([blog_category_id], [name]) VALUES (1, N'Văn hóa Nhật Bản')
INSERT [dbo].[Blog_Category] ([blog_category_id], [name]) VALUES (2, N'Tin tức sự kiện')
INSERT [dbo].[Blog_Category] ([blog_category_id], [name]) VALUES (3, N'Kinh nghiệm học TIếng Nhật')
SET IDENTITY_INSERT [dbo].[Blog_Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Blog_Details] ON 

SET IDENTITY_INSERT [dbo].[Blog_Details] OFF
GO
SET IDENTITY_INSERT [dbo].[Chapter] ON 

INSERT [dbo].[Chapter] ([chapter_id], [chapter_name], [description], [course_id]) VALUES (36, N'Chương 1', N'Nhập môn', 31)
INSERT [dbo].[Chapter] ([chapter_id], [chapter_name], [description], [course_id]) VALUES (37, N'Chương 2', N'Giới thiệu về tên, tuổi, quê quán, nghề nghiệp', 31)
INSERT [dbo].[Chapter] ([chapter_id], [chapter_name], [description], [course_id]) VALUES (38, N'Chương 3', N'Giới thiệu về đồ vật', 31)
SET IDENTITY_INSERT [dbo].[Chapter] OFF
GO
INSERT [dbo].[Class_Member] ([student_email], [class_id], [enrollment_date], [status]) VALUES (N'student@gmail.com', 1, CAST(N'2024-11-09' AS Date), 1)
INSERT [dbo].[Class_Member] ([student_email], [class_id], [enrollment_date], [status]) VALUES (N'student@gmail.com', 16, CAST(N'2024-11-11' AS Date), 1)
INSERT [dbo].[Class_Member] ([student_email], [class_id], [enrollment_date], [status]) VALUES (N'student@gmail.com', 17, CAST(N'2021-11-11' AS Date), 1)
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([class_id], [course_id], [class_name], [start_date], [end_date], [number_of_student], [number_of_slots], [staff_email], [teacher_email], [room], [days_of_week], [start_time], [end_time], [class_code], [status]) VALUES (1, 35, N'Lớp học IELTS cơ bản', CAST(N'2024-11-09' AS Date), CAST(N'2024-11-09' AS Date), 11, 11, N'staff@gmail.com', N'teacher@gmail.com', N'P202', N'T2, T4', CAST(N'02:30:00' AS Time), CAST(N'02:30:00' AS Time), N'ISD', 1)
INSERT [dbo].[Classes] ([class_id], [course_id], [class_name], [start_date], [end_date], [number_of_student], [number_of_slots], [staff_email], [teacher_email], [room], [days_of_week], [start_time], [end_time], [class_code], [status]) VALUES (2, 31, N'Lớp học IELTS nâng cao', CAST(N'2024-11-09' AS Date), CAST(N'2024-11-09' AS Date), 0, 0, N'staff@gmail.com', N'teacher@gmail.com', N'P203', N'T5, T6', CAST(N'02:30:00' AS Time), CAST(N'02:30:00' AS Time), N'IOI', 1)
INSERT [dbo].[Classes] ([class_id], [course_id], [class_name], [start_date], [end_date], [number_of_student], [number_of_slots], [staff_email], [teacher_email], [room], [days_of_week], [start_time], [end_time], [class_code], [status]) VALUES (16, 35, N'Lớp học IELTS cần thiết', CAST(N'2024-11-05' AS Date), CAST(N'2025-01-01' AS Date), 0, 20, N'staff@gmail.com', N'nguyenthanhlam@gmail.com', N'P204', N'T3, T5', CAST(N'01:00:00' AS Time), CAST(N'03:00:00' AS Time), N'ISD', 1)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[Contact] ON 

INSERT [dbo].[Contact] ([contact_id], [email], [name], [request_date], [response_date], [status], [request_message], [response_message]) VALUES (3, N'john@gmail.com', N'John', CAST(N'2024-10-29' AS Date), NULL, NULL, N'Tôi là John, và tôi gặp khó khăn trong việc đăng nhập vào tài khoản của mình. Tôi đã thử reset mật khẩu nhưng vẫn không thể đăng nhập được. Rất mong được sự trợ giúp từ các bạn để tôi có thể truy cập vào tài khoản của mình một lần nữa.', NULL)
SET IDENTITY_INSERT [dbo].[Contact] OFF
GO
SET IDENTITY_INSERT [dbo].[Course] ON 

INSERT [dbo].[Course] ([course_id], [course_avatar_url], [course_name], [description], [duration], [price], [status], [created_at], [number_of_slots], [code], [level]) VALUES (31, N'https://ktdcgroup.vn/wp-content/uploads/2023/04/WEB_THUMNAIL-POST-Thi%E1%BA%BFt-k%E1%BA%BF-KV-kh%C3%B3a-IELTS-h%C3%A8_Update19042023.jpg', N'Khóa IELTS Hè Cấp Tốc', N'Mô tả khóa IELTS Hè Cấp Tốc', 12, 10000, 1, CAST(N'2023-06-10' AS Date), 2, N'ISM', N'Mới bắt đầu')
INSERT [dbo].[Course] ([course_id], [course_avatar_url], [course_name], [description], [duration], [price], [status], [created_at], [number_of_slots], [code], [level]) VALUES (35, N'https://taec.edu.vn/wp-content/uploads/2023/08/1-II-0-5.0-01.jpg', N'Khoá Học IELTS Introduction', N'Mô tả khóa học IELTS Introduction', 22, 2000000, 1, CAST(N'2023-05-26' AS Date), 3, N'ISD', N'Mới bắt đầu')
INSERT [dbo].[Course] ([course_id], [course_avatar_url], [course_name], [description], [duration], [price], [status], [created_at], [number_of_slots], [code], [level]) VALUES (36, N'https://onthiielts.com.vn/wp-content/uploads/2022/10/ielts-intensive-1.jpg', N'Khóa học IELTS cấp tốc', N'Mô tả khóa học IELTS cấp tốc', 11, 3000000, 1, CAST(N'2023-06-12' AS Date), 4, N'IOI', N'Trung bình')
SET IDENTITY_INSERT [dbo].[Course] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedback_id], [name], [email], [star], [course_name], [message], [course_id], [user_avatar_url]) VALUES (4, N'Student', N'student@gmail.com', 5, N'Khóa học N5 free', N'Khóa học rất hay và bổ ích', 31, NULL)
INSERT [dbo].[Feedback] ([feedback_id], [name], [email], [star], [course_name], [message], [course_id], [user_avatar_url]) VALUES (5, N'Student', N'student@gmail.com', 5, N'Khóa học N4', N'Nội dung khóa học đầy đủ chi tiết', 35, NULL)
INSERT [dbo].[Feedback] ([feedback_id], [name], [email], [star], [course_name], [message], [course_id], [user_avatar_url]) VALUES (6, N'Student', N'student@gmail.com', 5, N'Khóa học N1', N'Khóa học khá thú vị', 38, N'https://yt3.googleusercontent.com/ytc/AL5GRJUCfVHiY_T0o_KOKqH85MEsTZoEFs0uE4anTUdN5A=s900-c-k-c0x00ffffff-no-rj')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[Lesson] ON 

INSERT [dbo].[Lesson] ([lesson_id], [lesson_name], [description], [video_url], [material_url], [chapter_id], [duration]) VALUES (16, N'Âm đục, âm ghép Hiragana', N'Mô tả bài học', N'https://firebasestorage.googleapis.com/v0/b/jlearning-90346.appspot.com/o/course%2Fvideos%2Fvideo-2.mp4?alt=media&token=b04768d1-39f4-4054-b27c-92ece7bf3c63', N'https://drive.google.com/drive/folders/1ZRIRvkmV9j7JlZkKw20hXGXDFqMLS840', 36, 0)
INSERT [dbo].[Lesson] ([lesson_id], [lesson_name], [description], [video_url], [material_url], [chapter_id], [duration]) VALUES (17, N'Ghép chữ ', N'Mô tả bài học ghép chữ', N'https://firebasestorage.googleapis.com/v0/b/flearning-131be.appspot.com/o/course%2Fvideos%2Fvideo-3.mp4?alt=media&token=f90cfb3c-ac27-4678-a112-3354336248d9', N'https://drive.google.com/drive/folders/1ZRIRvkmV9j7JlZkKw20hXGXDFqMLS840', 36, NULL)
SET IDENTITY_INSERT [dbo].[Lesson] OFF
GO
SET IDENTITY_INSERT [dbo].[Payment] ON 

INSERT [dbo].[Payment] ([payment_id], [payment_method], [class_id], [course_id], [student_email], [amount], [payment_date]) VALUES (1, N'Credit Card', 16, 36, N'student@gmail.com', CAST(3000000 AS Decimal(18, 0)), CAST(N'2024-11-12' AS Date))
INSERT [dbo].[Payment] ([payment_id], [payment_method], [class_id], [course_id], [student_email], [amount], [payment_date]) VALUES (4, N'Credit Card', 1, 35, N'student@gmail.com', CAST(2000000 AS Decimal(18, 0)), CAST(N'2024-11-12' AS Date))
SET IDENTITY_INSERT [dbo].[Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Question] ON 

INSERT [dbo].[Question] ([question_id], [description], [answer_1], [answer_2], [answer_3], [answer_4], [correct_answer], [test_id], [explaination]) VALUES (10, N'ざっし', N'Bút chì', N'Bút chì', N'Bút chì', N'Bút chì', 1, 23, N'Giải thích câu 1')
INSERT [dbo].[Question] ([question_id], [description], [answer_1], [answer_2], [answer_3], [answer_4], [correct_answer], [test_id], [explaination]) VALUES (11, N'かばん', N'Đồng hồ', N'Ví da', N'Vali', N'Cặp sách', 2, 23, N'')
INSERT [dbo].[Question] ([question_id], [description], [answer_1], [answer_2], [answer_3], [answer_4], [correct_answer], [test_id], [explaination]) VALUES (12, N'ノート', N'Sách', N'Vở', N'Báo', N' Sổ tay', 2, 23, N'')
SET IDENTITY_INSERT [dbo].[Question] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration_Form] ON 

INSERT [dbo].[Registration_Form] ([id], [student_email], [class_id], [course_id], [status], [response], [created_date]) VALUES (8, N'student@gmail.com', 17, 35, 3, N'Không cho đăng ký', CAST(N'2024-11-12' AS Date))
INSERT [dbo].[Registration_Form] ([id], [student_email], [class_id], [course_id], [status], [response], [created_date]) VALUES (12, N'student@gmail.com', 16, 35, 2, NULL, CAST(N'2024-11-12' AS Date))
INSERT [dbo].[Registration_Form] ([id], [student_email], [class_id], [course_id], [status], [response], [created_date]) VALUES (13, N'student@gmail.com', 17, 35, 1, NULL, CAST(N'2024-11-12' AS Date))
SET IDENTITY_INSERT [dbo].[Registration_Form] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (2, N'staff')
INSERT [dbo].[Role] ([role_id], [role_name]) VALUES (3, N'teacher')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Support] ON 

SET IDENTITY_INSERT [dbo].[Support] OFF
GO
SET IDENTITY_INSERT [dbo].[Test] ON 

INSERT [dbo].[Test] ([test_id], [test_name], [chapter_id], [course_id], [description], [duration]) VALUES (23, N'Bài kiểm tra 1', 36, 31, N'Mô tả bài kiểm tra 1', 30)
INSERT [dbo].[Test] ([test_id], [test_name], [chapter_id], [course_id], [description], [duration]) VALUES (25, N'Bài kiểm tra 2', 37, 31, N'Mô tả bài kiểm tra 2', 11)
INSERT [dbo].[Test] ([test_id], [test_name], [chapter_id], [course_id], [description], [duration]) VALUES (26, N'Bài kiểm tra 3', 38, 31, N'Mô tả bài kiểm tra 3', 11)
SET IDENTITY_INSERT [dbo].[Test] OFF
GO
INSERT [dbo].[Test_Done] ([email], [test_id], [course_id]) VALUES (N'student@gmail.com', 23, 31)
GO
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (35, N'student@gmail.com', CAST(N'2024-10-29' AS Date))
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (36, N'student@gmail.com', CAST(N'2024-11-11' AS Date))
INSERT [dbo].[User_Course] ([course_id], [email], [enrolled_date]) VALUES (38, N'student@gmail.com', CAST(N'2024-10-29' AS Date))
GO
ALTER TABLE [dbo].[Account] ADD  DEFAULT ((1)) FOR [active_status]
GO
ALTER TABLE [dbo].[Account]  WITH CHECK ADD FOREIGN KEY([role_id])
REFERENCES [dbo].[Role] ([role_id])
GO
ALTER TABLE [dbo].[Blog]  WITH CHECK ADD FOREIGN KEY([blog_category_id])
REFERENCES [dbo].[Blog_Category] ([blog_category_id])
GO
ALTER TABLE [dbo].[Blog_Details]  WITH CHECK ADD FOREIGN KEY([blog_id])
REFERENCES [dbo].[Blog] ([blog_id])
GO
ALTER TABLE [dbo].[Calendar]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Chapter]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Class_Member]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Class_Member]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Classes]  WITH NOCHECK ADD FOREIGN KEY([staff_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Classes]  WITH NOCHECK ADD FOREIGN KEY([teacher_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Course] FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Course]
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[GRADES]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Lesson]  WITH CHECK ADD FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter] ([chapter_id])
GO
ALTER TABLE [dbo].[Lesson_Done]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Lesson_Done]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Lesson_Done]  WITH CHECK ADD FOREIGN KEY([lesson_id])
REFERENCES [dbo].[Lesson] ([lesson_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Question]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[Test] ([test_id])
GO
ALTER TABLE [dbo].[Registration_Form]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Registration_Form]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Registration_Form]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([class_id])
REFERENCES [dbo].[Classes] ([class_id])
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD FOREIGN KEY([student_email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Test]  WITH CHECK ADD FOREIGN KEY([chapter_id])
REFERENCES [dbo].[Chapter] ([chapter_id])
GO
ALTER TABLE [dbo].[Test_Done]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[Test_Done]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
ALTER TABLE [dbo].[Test_Done]  WITH CHECK ADD FOREIGN KEY([test_id])
REFERENCES [dbo].[Test] ([test_id])
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD FOREIGN KEY([course_id])
REFERENCES [dbo].[Course] ([course_id])
GO
ALTER TABLE [dbo].[User_Course]  WITH CHECK ADD FOREIGN KEY([email])
REFERENCES [dbo].[Account] ([email])
GO
